.navHeader {
    background: rgb(6, 115, 218);
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navbarLinkActive.navLink{
    color: #fff;
    font-size:3rem;
    font-weight:bold;
}
.navHeader .navLink{
    font-size:2rem;
}
.footer{
    color: #fff;
}